<h1> Discover Movies </h1>

<br><%= button_to "Find Top Rated Movies", user_movies_path, method: :get, data: { turbo: false } %> 

<%= form_with url: user_movies_path, method: :get, local: true do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search %>
  <%= form.submit 'Search' %>
<% end %>

